.editor__container {
  min-height: 350px;
  cursor: text;
}

.editor__container :global(.ce-block__content, .ce-toolbar__content) {
  max-width: var(--editor-width);
}

.editor__container :global(.ce-block:not(:last-child)) {
  padding-bottom: 15px;
}

.editor__container :global(.ce-header) {
  margin: 10px 0 0;
  padding: 0;
  line-height: normal;
}

.editor__container :global(.ce-block:first-child .ce-header) {
  margin-top: 0;
}

.editor__container :global(.tc-table__wrap, .tc-table__cell) {
  border: 1px solid var(--base-border);
}

.editor__container :global(.tc-table__wrap) {
  border-radius: var(--base-border-r);
}
