button,
.button {
  cursor: pointer;
}

button:not([class]),
.button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  color: var(--color-text, var(--base-text));
  text-decoration: none;
  cursor: pointer;
  background: var(--background, var(--base-gradient));
  border: none;
  border-radius: var(--border-r, var(--base-border-r));
}

button:disabled,
.button.button_disabled,
button:not([class]):disabled {
  --background: var(--base-disabled);

  cursor: not-allowed;
}

button:not([class]):active,
.button:not(.button_disabled):active {
  transform: translateY(1px);
}

button:not([class]):not(:disabled):hover,
.button:not(:disabled):not(.button_disabled):hover {
  --background: var(--base-light-accent);
}
