.button_outlined {
  --background: transparent;

  border: var(--base-border-w) solid var(--border-color, var(--base-border));
}

.button_outlined:disabled,
.button_outlined.button_disabled {
  --border-color: transparent;
}

.button_outlined:not(:disabled):not(.button_disabled):hover{
  --background: var(--base-hover);
  --border-color: transparent;
}
