.button--outlined {
  --background: transparent;
  --background-hover: var(--base-hover);
  --border: var(--base-border-w) solid var(--base-border);
  --border-color-hover: var(--base-hover);

  border: var(--border);
}

.button--outlined:focus,
.button--outlined:hover {
  border-color: var(--border-color-hover);
}

.button--outlined.disabled {
  border-color: var(--background-disabled);
}
